.footer{
    margin-bottom: 0%;
}

.img1{
    width: 15px;
    height: 20px;
}   
.img2{
    width: 24px;
    height: 24px;
    margin: 0px 10px;
} 
.img3{
    width: 24px;
    height: 24px;
    margin: 0px 10px;
} 
.img4{
    width: 24px;
    height: 24px;
    margin: 0px 10px;
} 
.img5{
    width: 24px;
    height: 24px;
    margin: 0px 10px;
} 
.top-div{
    margin-bottom: 0%;
    width: 100%;
    display:inline-flex;
    position:relative;
   
   
}
.div2{
    width: 45%;
    padding:0px 15px;
    display: inline-flex;
    letter-spacing:2px;
    justify-content: flex-end;
    margin-top: 0.5%;
}

.div1{
    width: 55%;
    padding:0px 15px;
    display: inline-flex;
    letter-spacing:2px;
    justify-content: left;
    margin-top: 0.5%;
 
}

.founderProfile{
    text-decoration: none;
    margin-left: 0.3%;
    color: rgb(24, 23, 23);
}
.icon{
    width: 19px;
   font-size: 20px;
}
.link_company{
    text-decoration: none;
    color: black;
}

